@{
    ViewBag.Title = "Home Page";
}
@model IEnumerable<DemoBlogWasteOfTimeTeam.Models.Post>

    <div class="jumbotron">
        <h1>Latest</h1>
        <p>Which are the latest uploaded videos:</p>

    </div>
    <div class="container">
        <div class="row">
            @foreach (var post in Model)
            {
            <div class="col-lg-4 post">
                <h3><a href="/Posts/Details/@post.Id">@DemoBlogWasteOfTimeTeam.Classes.Utils.CutText(post.Song, 30)</a></h3>
                <div>
                    Created on <i>@post.Date</i>
                    @if (@post.Author != null)
                    {
                    @:by <i>@post.Author.FullName (@post.Author.UserName)</i>
                    }
                    @Html.Raw(post.Video);
                    <h1>@post.Category</h1>
                </div>
             
            </div>

            }
        </div>
    </div>
